@{
    ViewBag.Title = "About";
}


<h1>LE TRUCK</h1>
<p>
    China is a very rich country with a lot of things to do and discover, nice people and where a lot is happening for business these days!
</p>
<p>
    But China has also its own food and even if we like most of it, there is nothing close to a good Camembert with a piece of baguette and a glass of Bordeaux.
</p>
<h2>Why?</h2>
<p>
    We do it because we know what is the pain to work hard and live in the Chinese jungle where chicken feet and local beer are not going to cheer you up!
</p>
<h2>Who?</h2>
<p>
    A team of French people living in the city of Guangzhou for a while... what you call "paradise" when you happen to come here.
</p>
<h2>What?</h2>
<p>
    We offer to deliver at your base all the basic components of a "French survival kit": cheese, pastry and wine.
</p>
<p>
    As time goes by, we will put on the table some extra delicacies...
</p>
<h2>How?</h2>
<p>
    Every Wednesday we will close orders and arrange the logistic with the French network. On Saturday morning we will drive few hours to your place with our refrigerated truck and deliver the food at a central point where you could collect your goods.
</p>
<p>
    Cheese,
</p>
<p>
    LE TRUCK TEAM :)
</p>
<em style="font-size: 15px">
    "We can't teleport you to Europe but we can bring you the best food we got from our local bakers, cooks, cheese and wine importers."
</em>


