@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>
    We would love to hear your feedback about products and suggestions.
</p>

<address>
    <strong>Support:</strong>   <a href="mailto:letruckteam@outlook.com">letruckteam@outlook.com</a><br />
</address>