@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="/images/letruck_logo.png" width="250" style="float:right" />
    <h1>LE TRUCK</h1>

    <p><a href="/ProductListing" class="btn btn-primary btn-lg">See our products &raquo;</a></p>


    <h2>Glad that you landed on LE TRUCK order form!</h2>

    <em>So here is the deal...</em>
    <p>As you know we are now in a test period where we are evaluating the needs of our community to see if we should send LE TRUCK (or not).</p>

    <p>If we get enough hungry people on a weekly basis for our products, then we will do whatever it takes to reach your remote area ASAP and make sure that you have lovely week-ends in the Chinese jungle.</p>

    <h2 style="color: #007dc6">What do you need to do now?</h2>
    <ol>
        <li style="color: red">
            Select the products you would like us to truck you as a regular order
        </li>
        <li style="color: red">
            Go in the shopping cart and complete your contact info and validate
        </li>
    </ol>

    <p>That's it for now!</p>

    <p>
        This would give us enough feedbacks within 1 week to understand how critical is your cheese and wine level.
        We will then let you know if we go ahead with LE TRUCK deliveries at your place and hopefully you will be able to finalize your 1st pre-order.
    </p>

    <p>
        Cheese,
    </p>
    <p>
        LE TRUCK TEAM :)
    </p>
    <em>
        "We can't teleport you to Europe but we can bring you the best food we got from our local bakers, cooks, cheese and wine importers."
    </em>

    <img class="img-rounded" src="/images/lolo.jpg" />

</div>

