@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="/images/letruck_logo.png" width="250" style="float:right" />
    <h1>LE TRUCK</h1>

    <p class="lead">Le Truck is a new delivery service that gives you access to all the products you love back home!</p>
    
    <p><a href="/ProductListing" class="btn btn-primary btn-lg">See our products &raquo;</a></p>
</div>

