@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LE TRUCK</h1>
    <p class="lead">Le Truck is a new delivery service that gives you access to all the products you love back home!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cheese</h2>
        <p>
            Discover a great selection of best european cheese.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Beverages</h2>
        <p>French, Australian wines and Beers.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Others</h2>
        <p>Discover our special baskets with selection of spanish Jamon and breads from the same day.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>