@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LE TRUCK</h1>
    <img src="/images/letruck.svg" style="float:right" />
    <p class="lead">Le Truck is a new delivery service that gives you access to all the products you love back home!</p>
    <br />
    <br />
    <p><a href="/ProductListing" class="btn btn-primary btn-lg">See our products &raquo;</a></p>
</div>

