
<h2>Order successfull!</h2>

<p>Your order has been received and will be processed for the coming week-end!</p>

<p>If you have any question do not hesitate to <a href="/Home/Contact">contact us</a></p>