@{ 
    var products = Session["products"] as List<int>;
    if (products == null)
    {
        products = new List<int>();
    }
}

<ul class="nav navbar-nav">
    <li>
        <a class="btn" href='@Url.Action("ShowCart","Cart")'>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Cart <span id="cart-count" class="badge"> @products.Count</span>
        </a>
    </li>
</ul>
