body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap overrides */

.navbar-inverse {
    background-color: #007dc6;
    border-color: #007dc6;
}

.btn-primary {
    color: #ffffff;
    background-color: #007dc6;
    border-color: #007dc6;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}



body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

.badge {
    background-color: black;
}

.nav .caret {
    border-top-color: white;
    border-bottom-color: white;
    margin-left: 6px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}


.table {
    font-size: 20px;
}

ul.pagination li a.active {
    background-color:#007dc6;
    color:white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color:#007dc6;
}