<!-- Fill the passwords in this section and rename the file AppPasswords.config -->
<appSettings>
  <!-- Smtp-->
  <add key="smtpServer" value="smtp-mail.outlook.com"/>
  <add key="smtpServerPort" value="587"/>
  <add key="smtpUsername" value="username@example.com" />
  <add key="smtpPassword" value="password" />
  <!-- Admin -->
  <add key="adminEmail" value="admin@example.com"/>
  <add key="adminPassword" value="password"/>
</appSettings>