@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for registering. An email has been sent to your email address @ViewBag.Email.
    </p>
    <p>
        Please confirm your email to be allowed to log in.
    </p>
</div>

